[style.css](https://github.com/user-attachments/files/25264070/style.css)

main{
  width: 100%;           /* 画面の幅 */
  overflow: clip;
}
.toppage1{
    display: flex;             /* 横並びにする */            /* 画面の幅 */
  height: 100vh;             /* 画面の高さ（全画面の場合） */
  width: fit-content;
  position: sticky;
  top: 0;
  scrollbar-width: 0;
  will-change: transform;
}

section{
        flex-shrink: 0;            /* 幅が縮まないように固定 */
        height: 100%;
        display: flex;        
}



.top{
width: 100vw;
background: url(../top-image/top-image.png) center/contain no-repeat;
flex-direction: column;
justify-content: space-between;
padding: 50px;
}

.topbottom{
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
}

.topgirl{
    width: 280px;
    margin-top: 50px;
}

.texttop h1{
    font-weight: bold;
    font-size: 3.5rem;
    margin-bottom: 30px;
    letter-spacing: 0.15rem;
    color:#5d4037;
    text-shadow:
    -2px -2px 0 #fff,
    2px -2px 0 #fff,
    -2px 2px 0 #fff,
    2px 2px 0 #fff;
}

.texttop p,
.textbottom{
    font-weight: bold;
    font-size: 3rem;
    letter-spacing: 0.15rem;
    line-height: 1.8;
    color:#5d4037;
    text-shadow:  -2px -2px 0 #fff,
    2px -2px 0 #fff,
    -2px 2px 0 #fff,
    2px 2px 0 #fff;
}

.textbottom{
    margin-bottom: 40px;
    margin-right: 20px;
}


.travel{
  /* gap: 40px; */
  position: relative;
  display: flex;
  flex-shrink: 0;
}

.travel1{
    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 50% 50%;
    align-items: stretch;
    justify-content: unset; 
    background-image: url(../top-image/topimage6.png);
    background-repeat: round;     
    background-size: 1276px 732px;
    background-position: bottom left;     /* 画像を中央に配置 */
}

.travel1 h2{
    position: absolute;
    margin-top: 350px;
    margin-left: 280px;
    font-weight: bold;
    font-size: 3rem;
    color:#5d4037;
    text-align: center;
    text-shadow: 
    -3px -3px 0 #fff,
    3px -3px 0 #fff,
    -3px 3px 0 #fff,
    3px 3px 0 #fff,
    0 0 8px rgba(255, 255, 255, 0.8);
    opacity: 0.9; 
    z-index: 99;
}
.travel1 img{
    height: 100%;
}
.active1
{justify-self: start;
}

.food2{
    justify-self: start;
    margin-top: 10px;
}

.reward1{
    justify-self: center;
    margin-top: 10px;
}

.sightseeing1{
    justify-self: center;
 
}

.sightseeing2{
    justify-self: center;
}

.reward2{
    justify-self: center;
}

.food1{
    justify-self: start;
    margin-top: 10px;
}

.active2{
    justify-self: start;
    margin-top: 10px;
}


.travel1 img {
	box-shadow: 0 0 3px 0 rgba(0,0,0,.12), 0 2px 3px 0 rgba(0,0,0,.22);
	transition: .3s;
}

.travel1 img:hover {
	box-shadow: 0 15px 30px -5px rgba(0,0,0,.15), 0 0 5px rgba(0,0,0,.1);
	transform: translateY(-4px);
}

/* 矢印 */
.arrow{
    position: fixed;
    top: 53%;
    transform: translateY(-50%);
    width: 80px;
    height: 80px;
    background-image: url(../top-image/yazirusi.png);
    background-repeat: no-repeat;     /* 画像を繰り返さない */
    background-size: contain;        /* 枠内に画像を収める */
    background-position: center;     /* 画像を中央に配置 */
    cursor: pointer;                 /* マウスを乗せた時に指マークにする */
    background-color: transparent; /* 背景を透明にする */
    border: none;                 /* 枠線を消す */
    outline: none;
}
.arrow-prev{
    left: 10px;
    transform: translateY(-50%) scaleX(-1);
    
}
.arrow-next{
    right: 10px;
}
